form{
	margin:auto;
	
	  border: 3px solid green;
	  background-color:#F0F8FF;
	  padding-top:15px;
margin-top: 4em;
border : 2px solid pink;
width :40%;
padding: 1.5em;
font-size:25pt

}
body{
	background-color:	#7FFFD4;
}
label{
	font-size:17pt;
	margin-top:5em;
	height:1em;
	
}
input{
	font-size:18pt;
	width:100%
}
button{
	width:100%;
	margin-top:1em;
	font-size:18pt;
	height:2em
}
.align{
	padding:0.50em;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}